@charset "UTF-8";
@font-face {
    font-family: 'OpenSans2' ;
    src: url('fonts/OpenSans2.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

.menuLateral{
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E6E6EB;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}
.menuLateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #093855;
    display: block;
    transition: 0.3;
}

.menuLateral a:hover{
    color: rgb(81, 143, 64);
}

#btnFechar{

    position: absolute;
    top: 10px;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0px;
    background-color: #E6E6EB;

}
#principal{
    color: white;
    padding-left: 15px;
    transition: margin-left 0.5s;
    margin-top: -95px;
    
}
@media screen and(max-height: 450px){
    .menuLateral{padding-top: 15px;}
    .menuLateral a{font-size: 18px;}
}
.header {
    
    background-color: #093855;
    color: #fff;
   
    margin-top: -8px;
    margin-left: -8px;
    
    padding-top: 35px;
    padding-left: 16px;
 
    width: 100%;
   
    
   
}

.logo_header{
    margin-left: 1px;
    padding-left: 30px;
}

.listaMenu{
    padding-top: 30px;
    
}
.listaMenu a {
    padding-top: 13px;
    padding-left: 75px;

    
}



.listaMenu a:hover{
    background-color: white;
    color: #093855;
}

#nomePessoa{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 1px;
    margin-right: 85px;
    margin-top: 1px;
    margin-bottom: 35px;
    padding-top: 1px;

}

#matricula{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 38px;
    margin-left: 1px;
    margin-right: 85px;
    margin-top: -35px;
    margin-bottom: 5px;
    padding-top: 1px;
    
}


.status-button {
    background-color: transparent;
    border: 2px solid blue;
    color: blue;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5%;
    top: 35px;
    left: 245px;
   
    position: relative;
}
.status-button:hover {
    background-color: blue;
    color: white;
}

.container {

    display: flex;
    font-family: 'OpenSans2';
    font-size: 12px;
    position: relative;
    width: 90%;
    height: 20%;
    top: 1px;
    left: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;

    margin-left: 20px;
    margin-top: 30px;
    margin-right: 1px;
    margin-bottom: 1px;

    

  }
  .day {
    flex: 1 0 calc(14.28% - 10px);
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
  }
  .current-day {
    color: green;
  }

  .monitoriacadastrada{
    background-color: #F4F4F6;
    font-size: 17px;
    text-align: left;
    margin-top: 20px;
    margin-left: 27px;
    width: 23%;
    text-transform: capitalize;
    font-family: 'OpenSans2' ;
    
    
  }
  #legendTitulo {
    font-weight: bolder;
  }

  





  /* Estilo da tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'OpenSans2' ;
    font-size: 14px;
    
}


/* Estilo das células da tabela */
.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-transform: capitalize;
    
}

/* Estilo do cabeçalho da tabela */
.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Estilo das linhas alternadas da tabela */
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo das bordas entre as colunas */
.table th:not(:last-child),
.table td:not(:last-child) {
    border-right: 10px solid #ddd;
}

/* Estilo do rodapé da tabela */
.table tfoot {
    font-weight: bold;
    text-transform: capitalize;
}

.user-avatar {
    width: 50px; /* Tamanho do círculo */
    height: 50px; /* Tamanho do círculo */
    border-radius: 50%; /* Transforma o quadrado em um círculo */
    background-color: #ccc; /* Cor de fundo padrão */
    background-image: url('caminho_para_sua_imagem/avatar.jpg'); /* Caminho para a imagem do usuário */
    background-size: cover; /* Garante que a imagem cubra todo o círculo */
    background-position: center; 
    margin-right: 10px; 
    float: right; 
    left: -6px;
    position: relative;
}


.perfilStatus {
    background-color:#ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.perfilStatus fieldset {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.perfilStatus legend {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.perfilStatus label {
    display: inline-block;
    margin-bottom: 10px;
}

.perfilStatus input[type="text"],
.perfilStatus input[type="file"],
.perfilStatus textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.perfilStatus textarea {
    resize: none;
}

.perfilStatus input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.perfilStatus input[type="submit"]:hover {
    background-color: #0056b3;
}

.preview {
    display: none;
}


/* Estilo para a prévia da imagem */
#preview-container {
    display: none; /* Por padrão, a prévia é ocultada */
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Garante que a prévia seja um círculo */
    overflow: hidden; /* Evita que a imagem ultrapasse os limites do círculo */
    position: absolute; /* Posicionamento absoluto para permitir ajustes */
    top: 30px; /* Ajuste vertical */
    right: 20px; /* Ajuste horizontal */
    z-index: 1; /* Garante que a prévia fique sobreposta ao restante do conteúdo */
}

#preview-img {
    width: 100%; /* Ajusta a largura da imagem para preencher o contêiner */
    height: 100%; /* Ajusta a altura da imagem para preencher o contêiner */
    object-fit: cover; /* Garante que a imagem cubra todo o contêiner */
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* Ajuste conforme necessário */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: unset;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #f5f0f0;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 800px; /* Ajuste conforme necessário */
    font-family: 'OpenSans2' ;
    font-weight: bolder;
    color: #010203;
    font-size: 13px;
}


.modaldel {
    display: none;
    position: fixed;
    z-index: 1000; /* Ajuste conforme necessário */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: unset;
    background-color: rgba(0,0,0,0.4);
}

.modaldel-content {
    background-color: #f5f0f0;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 800px; /* Ajuste conforme necessário */
    font-family: 'OpenSans2' ;
    font-weight: bolder;
    color: #010203;
    font-size: 13px;
}




.close {
    position: relative;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: -20px;
    left: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.tituloModel{
    background-color: #E6E6EB;
    color: #093855;
    margin-top: -20px;
    margin-left: -20px;
    width: 102.5%;
    padding: 10px;
    top: 1px;
    left: 1px;
}


.botaoCriar{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
   
}
.botaoCriar input{

    padding: 5px;
    background-color: green;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #000000;
    font-weight: bold;
    border-radius: 6%;
    color: white;
    
}

.botaoCriar input:hover{
    background-color: rgb(109, 163, 27);
}

.criarMon{
    margin-top: 45px;
    margin-bottom: -65px;
    margin-left: 1px;
    margin-right: 1px;
}
.cursoM{
    position: relative;
    top: 3px;

}
.disciplinaM{
    position: relative;
    top: -30px;
    right: -562px;
}
.faseM{
    position: relative;
    top: -68px;
    right: -294px
}

.salaM{
    position: relative;
    top: 51px;
    
}
.turnoM{
    position: relative;
    top: -95px;
}

.inicioM{
    position: relative;
    top: -132px;
    right: -268px;
}

.fimM{
    position: relative;
    top: -189px;
    right: -415px;
}

.dia_aulaM{
    position: relative;
    top: -245px;
    right: -562px;
}

.botaoM{
    position: relative;
    top: -26px;
    right: 0px;
}
.botaoM input{

   
    background-color: green;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #000000;
    font-weight: bold;
    border-radius: 6%;
    color: white;
    width: 17%;
    
}

.botaoM input:hover{
    background-color: rgb(109, 163, 27);
}

.botaoCM{
    position: relative;
    top: -65px;
    right: -676px;
}
.botaoCM button{

   
    background-color: rgb(197, 59, 59);
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #000000;
    font-weight: bold;
    border-radius: 6%;
    color: white;
    
}

.botaoCM button:hover{
    background-color: red;
}

label {
    cursor: pointer; /* Torna o label clicável */
    padding: 5px; /* Adiciona preenchimento para uma área maior */
}

select {
    width: 220px; /* Define a largura fixa para as caixas de seleção */
    padding: 2px; /* Adiciona preenchimento para melhor aparência */
    box-sizing: border-box; /* Garante que o preenchimento seja incluído no tamanho */
}